<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.edward.bibleeducation">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/holybible"

        android:roundIcon="@mipmap/holybible"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Classes.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <receiver android:name="com.example.edward.bibleeducation.Classes.MyReceiver">
        <intent-filter>
            <action android:name="FIND_SITE" />//this should be unique string as action
        </intent-filter>
        </receiver>
        <activity android:name=".Classes.BaseActivity" />
        <activity android:name=".Classes.QuizActivity" />
        <activity android:name=".Adapter.QuizPagerAdapter" />
        <activity android:name=".dialog.CustomDialog" />
        <activity android:name=".Classes.Grades" />
        <activity android:name=".Classes.NotificationBar" />
        <activity android:name=".Journals.Journal1" />
        <activity android:name=".Music.MusicPlayer" />
        <activity android:name=".Classes.MyReceiver"></activity>
    </application>

</manifest>